{% extends "layout.html" %}

{% block content %}


        <div id="wrapper">
            <img src="/images/jefferson.jpg" alt="">
            <h1>Jefferson Lennon</h1>
            <h2>Programador</h2>
            <p>Estudante de Análise e desenvolvimento de sistemas <br>
                26 years
                
            </p>
        </div>
            
        <div id="links-footer" class="links">
            <a href="" >Github</a>
            <a href=""></a>
            <a href="">Linkedin</a>
        </div>

    
{% endblock %}